[submodule "KamiToolKit"]
	path = KamiToolKit
	url = https://github.com/MidoriKami/KamiToolKit
[submodule "KamiToolKit.Components"]
	path = KamiToolKit.Components
	url = https://github.com/MidoriKami/KamiToolKit.Components
